body {
    margin: 0;
}

#map {
    width: 100%;
    height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.waiting {
    font-style: italic;
    color: blue
}